rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if true;
      
      allow write: if request.auth != null && request.auth.uid == resource.id;
      match /notifications/{notification} {
      	allow read: if request.auth.uid == resource.data.recipient_id;
        allow create: if request.auth != null;
        allow delete: if request.auth != null;
        allow update: if false;
      }
    }
    
    match /questions/{question} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;

			match /images/{image} {
      	allow read: if true;
        allow create: if request.auth != null;
        allow update: if false;
      }
      
      
      match /answers/{answer} {
      	allow read: if true;
        allow create: if request.auth != null;
        allow update: if request.auth.uid == resource.data.user_id;
        match /thanks/{thank} {
        	allow read: if true;
          allow create: if request.auth != null;
          allow delete: if request.auth.uid == resource.data.user_id;
        }
      }
    }
    
    match /usernames/{username} {
    	allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }
    
    
    
    match /tests/{test} {
    	allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth == resource.data.user_id;
    }
  
  }
  
}